<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Document</title>
</head>

<body>



    <nav class="navbar navbar-expand-lg navbar-light bg-info p-3">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'blog'%}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Login</a>
                    </li>


                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

            </div>
        </div>
    </nav>
    <h1>History</h1>
    <br>
    <p>The Mughal prince Muhammad Azam, third son of Aurangzeb started the work of the fort in 1678 during his vice-royalty in Bengal. He stayed in Bengal for 15 months. The fort remained incomplete when he was called away by his father Aurangzeb. Shaista
        Khan was the new subahdar of Dhaka in that time, and he did not complete the fort. In 1684, the daughter of Shaista Khan named Iran Dukht Pari Bibi died there. After her death, he started to think the fort as unlucky, and left the structure incomplete.[2]
        Among the three major parts of Lalbagh Fort, one is the tomb of Bibi Pari. After Shaista Khan left Dhaka, it lost its popularity. The main cause was that the capital was moved from Dhaka to Murshidabad. After the end of the royal Mughal period,
        the fort became abandoned. In 1844, the area acquired its name as Lalbagh replacing Aurangabad, and the fort became Lalbagh Fort.[3]
    </p>

    <h1>stuctures</h1>
    <br>
    <p>
        For long the fort was considered to be a combination of three buildings (the mosque, the tomb of Bibi Pari and the Diwan-i-Aam), with two gateways and a portion of the partly damaged fortification wall. Recent excavations carried out by the Department
        of Archaeology of Bangladesh have revealed the existence of other structures. The southern fortification wall has a huge bastion in the southwestern corner. On the north of the south fortification wall were the utility buildings, stable, administration
        block, and its western part accommodated a beautiful roof-garden with arrangements for fountains and a water reservoir. The residential part was located on the east of the west fortification wall, mainly to the southwest of the mosque. The fortification
        wall on the south had five bastions at regular intervals two stories in height, and the western wall had two bastions; the biggest one is near the main southern gate. The bastions had a tunnel. The central area of the fort is occupied by three
        buildings – the Diwan-i-Aam and the hammam on its east, the Mosque on the west and the Tomb of Pari Bibi in between the two – in one line, but not at an equal distance. A water channel with fountains at regular intervals connects the three buildings
        from east to west and north to south.[1] Diwan-i-Aam The governor's residence, Diwan-i-Aam Diwan-i-Aam is a two storied residence of the Mughal governor of Bengal located on the east side of the complex.[3] A single storied hammam is attached
        on its west. The hammam portion has an underground room for boiling water. A long partition wall runs along the western facade of the hammam.[1] The building is situated about 39 meters (136') to the west of the tank, running from north to south.
        The external measurements of the building are 32.47m x 8.18m (107' x 29').[4] There are living quarters on each level of two stories and a main central hallway connecting them. There is a Hammamkhana (Bathhouse) in the southern part of the building
        which is one of the seventh Hammamkhana still existing in ruins in the heritage of Bangladesh.[4] Hammam Khana Recent excavations (1994–2009) show that there was a special room below the room of Hammamkhana, where archaeologists found the arrangements
        for heating water, supplying the hot water as well as cool water to the Hammamkhana through the terracotta pipes which was specially manufactured for such purpose. The discovery of black spots in the underground room proof that fire had been used
        for the purpose of heating the water for the Hammamkhana. There was also a toilet room by the side of Hammamkhana.[4] All the building along with the arrangements of Hammamkhana clearly shows that it was very much in use by the Subadar of Bengal
        and that Subadar was Shaista Khan. From the report of the Governor of English Factory it was learned that Shaista Khan used to live in this room and some Europeans were kept in custody here.[5] A water tank A square shaped water tank (71.63m on
        each side) is placed to the east of the Diwan-i-Aam. There are four corner stairs to descend into the tank.[1] Tomb of Bibi Pari The Tomb of Pari Bibi The tomb of Bibi Pari, the daughter of Shaista Khan, is in the middle of the complex. There
        is a central square room. It contains the remains of Pori Bibi covered by a false octagonal dome and wrapped by brass plate.[1] The entire inner wall is covered with white marble. Eight rooms surround the central one. There is another small grave
        in the southeastern corner room.[1] Lalbagh Fort Mosque The fort mosque The mosque has three domes, and is relatively small for a large site, with a water tank for ablutions in front. The mosque has an oblong planof 66'9" x 33'6" externally and
        53'8" x 20'2" internally.[6]
    </p>



</body>

</html>